@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.title, .card-score {
    font-size: 14px;
}

.btn.btn-dark, .btn.btn-dark:hover {
    background-color: #FFD700;
    color: #000;
    border: 1px solid #FFD700;
    font-size: 14px;
    font-weight: 600;
}

.btn.btn-dark:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}

.card-title, .card-subtitle {
    font-weight: 600;
}

.card-logo {
    color: #FFD700;
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.card-overview {
    text-align: justify;
    font-size: 14px;
}