@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.btn.btn-dark, .btn.btn-dark:hover {
    background-color: #FFD700;
    color: #000;
    border: 1px solid #FFD700;
    font-size: 14px;
    font-weight: 600;
}

.btn.btn-dark:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}